@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Outfit:wght@100..900&family=Sora:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');



.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.solitreo-regular {
  font-family: "Solitreo", cursive;
  font-weight: 400;
  font-style: normal;
}


.bg {
  background-image: url('/image\ 2.png');
}

/* .p {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(58, 58, 58, 0.445));
    color: transparent;
    background-clip: text;
} */